

/**puts a very simple spacing around the edges of the page. **/
html {
    margin: 1.5%;
}

#mapid { 
    height: 500px; 
    width: 400px;
}

h1, h3, footer, p {
    text-align: center;
}

ul {
    list-style-type: none;
}

.panel {
    border-style: solid;
    border-radius: 25px;
    margin: 1%;
    padding: 1.75%;
}


/**These classes will be dynamically applied to text in the walkability score selection to properly color code them.
This is an attempt to prevent javascript or d3 from haneling styling directly.
**/
.scoreGood {
	color : green;
}
.scoreBad {
	color : red;
}
.scoreNeural {
	color : black;
}