<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Walkability Metrics</title>
    <meta charset="utf-8"/>
	
	<!--Style Sheets needed for project  -->
	<!--leaflet default style --><link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <!--bootstrap default style --><link rel="stylesheet" href="css/bootstrap.css">
    <!--bootstrap style template --><link rel="stylesheet" href="css/sb-admin-2.css">
    <!--style for leaflet geocoder plugin--><link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<!-- CSS custom to this project --><link rel="stylesheet" href="css/style.css">
	
    
	<!--script libraries needed for project -->
    <!--Please note this libs do not need to wait for the dom to load so they are placed at the top of the document -->
    <!--jquery --><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<!--leaflet --><script type="text/javascript" src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="crossorigin="">
	</script>
    <!--bootstrap--><script type="text/javascript" src="lib/bootstrap.js"> </script>
	<!--d3 --><script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <!--leaflet geocoder plugin --><script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	
</head>


    
<body>
    <header id="pageHead">
	   <h1>Walkability Metrics and Spatial Analysis</h1>
    </header>
    <br/>
        <div class="container">
            
            <!--first row of content starts here -->
            <div class="row">
			         <div id="map" class="col panel">
						<h3>Search For An Area to Analyze Walkability for</h3>
                         <div id="mapid"></div>
				     </div>

					<div id="isochrone" class="col panel">
						<h3>The Walkable Area of Your Community!</h3>
                        <img id="isochrone" />
					</div><!--end of colum that contains the isochrone -->
            </div><!--end of first row which contains the isochrone and map -->
            
            
            
            <!--Second row of content starts here -->
            <div class="row">
                <div class="col panel">
                    <h3>Basic Statistics</h3>
                    <p>Your score for: <span id="locationString">street, address, city name, town name</span></p>
                    <ul>
                        <li>Total Walability Score: <span class="statItem" id="statTotalScore">XX</span> / 100</li>
                        <li>Street Density: <span class="statItem" id="statStreetDensity">XX</span> / 100</li>
                        <li>Node Density: <span class="statItem" id="statNodeDensity">XX</span> / 100</li>
                        <li>Street Segments Count: <span class="statItem" id="statSegCount"/> / 100</li>
					   <li>Crime Score: <span class="statItem" id="statCrime">XX</span> / 100</li>
                    </ul>
                    
                    <h3>Amenities</h3>
                    <ul>
                        <li>Subway Stations: <span class="statItem" id="statSubway">XX</span> / 100</li>
                        <li>Banks: <span class="statItem" id="statBank">XX</span> / 100</li>
                        <li>Colleges: <span class="statItem" id="statCollege">XX</span> / 100</li>
						<li>Grade Schools: <span class="statItem" id="statGrade">XX</span> / 100</li>
				        <li>Restaurants: <span class="statItem" id="statRest">XX</span> / 100</li>
                    </ul>
                    
                    
                </div><!--end of the first column containing the basitic statistics -->
                
                <div class="col panel">
                    <h3>How Does Your City Compare?</h3>
				    <svg class="graph" id="graphWalkScore"/>
				    <svg class="graph" id="graphSafetyScore"/>
				    <svg class="graph" id="graphAirQualityScore"/>
                </div><!--end of the second column contains the graphs -->
                
            </div><!--end of second row which contains the statistics and graphs -->
        </div> <!--end of container that contains the bulk of the code -->
                
    <footer> credits: code is dependent on the following open source libraries and data sources: d3, leaflet, python, osmnx, osm, bootstrap and mathplotlib.</footer>          
</body>



<!--libraires mods and other javascript stuff that we have written specifically for this project -->
<!-- this is loaded after the body to avoid it referencing a dom element that does not yet exist-->
<script type="text/javascript" src="js/stats.js"></script><!-- contains object for filling out basic statistics and amenities -->
<script type="text/javascript" src="js/map.js"></script><!-- contains object for building leaflet map  -->
<script type="text/javascript" src="js/graph.js"></script><!-- contains object for building bargraphs -->
    
<!-- The main loop is in this module, it calls methods from the previous three mods -->
<script type="text/javascript" src="js/main.js"></script>

</html>