<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Walkability Metrics</title>
    <meta charset="utf-8"/>
	
	<!--Style Sheets needed for project  -->
	
    <!--leaflet default style --><link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    
    <!--bootstrap default style --><link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
    
    <!--bootstrap style template --> <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sb-admin-2.css') }}">
   
    
    <!--style for leaflet geocoder plugin--><link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	  
    <!-- CSS custom to this project --> <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
    <!-- CSS for awesome leaflet --> <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leaflet.awesome-markers.css') }}">
    
    <!-- leaflet icons --><link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

     <!-- fontawesome for icons -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    




	
    
	<!--script libraries needed for project -->
    <!--Please note this libs do not need to wait for the dom to load so they are placed at the top of the document -->
    <!--jquery --><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<!--leaflet --><script type="text/javascript" src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="crossorigin="">
	</script>
    <!--bootstrap--><script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap.js') }}"></script>
    
         <!-- routing API -->
  <script src="https://releases.route360.net/r360-js/latest.js"></script>

	<!--d3 --><script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <!--leaflet geocoder plugin --><script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    	
</head>


    
<body>

     <!--This whole div is invisable in most cases. It contains a modal window to confirm if the user wants to select a specifc location. -->
    <div id="modal-window" class="hidden">
        <div class="modal-content">
            <h4>Hi There bud!</h4>
            <p>Just wanted to make sure you want to calculate info on this area! Are you sure?</p>
            <button id="yesButton">Yes</button>
            <button id="noButton">No</button>
        </div>
    </div>

    <header id="pageHead">
	   <h1>Walkability Metrics and Spatial Analysis</h1>
    </header>
    <br/>
        <div class="container">
            
            <!--first row of content starts here -->
            <div class="row justify-content-center">
			         <div id="map" class="col panel justify-content-center">
						<h3 id="searchHeader">Search For An Area to Analyze Walkability for</h3>
                         <div id="mapid"></div>
                            <div id="submap">
                                <div id="centerbutton" style="text-align:center;"><button id="submapbutton"onclick="map.modal()"><h1>Get Walk Score</h1></button></div>
                                Walk Score: 
                                 <td><b><span class="statItem walkscore-stat" id="statTotalScore">XX</span> / 100</b> for: </td>
                                <span id="locationString">street, address, city name, town name</span>
                                
                            </div>
				     </div>

					<div id="map2" class="col panel justify-content-center">
						<h3 id="poiHeader">Select a location on the map to the left</h3>
                        <!--<img id="isochrone" />-->
                        <div id="mapid2"></div>
                        <button class="hidden" id="moreInfoButton">Click here for detailed stats</button>
					</div><!--end of column that contains the isochrone -->
            </div><!--end of first row which contains the isochrone and map -->
            
            
            
            <!--Second row of content starts here -->
            <div id="bottom-row" class="row hidden justify-content-center">
                <div class="col panel hidden justify-content-center">
                    <h3>Basic Statistics</h3>
                    <p>Your score for: <span id="locationString">street, address, city name, town name</span></p>
                    <table>
                        <tr> 
                            <th>statistic</th>
                            <th>Value</th>
                            <th>Explanation</th>
                        </tr>
                        <tr>
                            <td>Total Walkability Score:</td>
                            <td><span class="statItem walkscore-stat" id="statTotalScore">XX</span> / 100 </td>
                            <td class="Explanation">Walkability score is calculated based on the below street network metrics as well as the density of amenities in an area. Scores range from 0 to 100.</td>
                        </tr>
                        <tr>
                            <td>Street Density: </td>
                            <td><span class="statItem" id="statStreetDensity">XX</span></td>
                            <td class="Explanation">The Street Denstiy metric indicates what surface area within the area of consideration is coveered by walkable surfaces. The higher this metric, the the more walkable an area will be. New York City, for example, in places, has a value over 50,000,000.</td>
                        </tr>
                        <tr>
                            <td>Node Density:</td>
                            <td><span class="statItem" id="statNodeDensity">XX</span></td>
                            <td class="Explanation">The Node Density metric tells us how many nodes (intersections or ends of streets) are in the area of consideration. The more nodes there are, typically the more walkable an area is. A high value is near 800,000.</td>
                        </tr>
                        <tr>
                            <td>Street Segments Count: </td>
                            <td><span class="statItem" id="statSegCount">XX</span></td>
                            <td class="Explanation">Street Segment Count is another valuable correlary for walkability. The more sections of walkable terrain there are the higher the score. A high value is near 1000.</td>
                        </tr>
                        <tr>
                            <td>Crime Rate Per 100000:</td>
                            <td><span class="statItem" id="statCrime">XX</span></td>
                            <td class="Explanation">Crime has an overall effect on how likely people might want to walk through their neighborhoods regardless of the physical infrastructure.
                                The number reflects the county crime rate for your choosen location. This might differ drastically within the county so this is a very
                                broad generalization.
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <h3>Amenities</h3>
                    <table id="amenitiesList">
                        <tr>
                            <th>Type</th>
                            <th>Count</th>
                        </tr>
                    </table>
                    
                    
                </div><!--end of the first column containing the basitic statistics -->
                
                <div class="col panel hidden justify-content-center">
                    <h3>How Does Your City Compare?</h3>
				    <svg class="graph" id="graphWalkScore"></svg>
				    <svg class="graph" id="graphSafetyScore"></svg>
				    <svg class="graph" id="graphAirQualityScore"></svg>
                </div><!--end of the second column contains the graphs -->
                
            </div><!--end of second row which contains the statistics and graphs -->
        </div> <!--end of container that contains the bulk of the code -->
                
    <footer> credits: code is dependent on the following open source libraries and data sources: d3, leaflet, python, osmnx, osm, bootstrap and mathplotlib.</footer>          
</body>

<!--This script tag weirdness is needed because of flask. The js script are unable to tell what url they are from because of flask
flasks prerendering takes are of this by transforming the following line into a javascript variable that contains the root directory of the page -->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!--libraires mods and other javascript stuff that we have written specifically for this project -->
<!-- this is loaded after the body to avoid it referencing a dom element that does not yet exist-->
<script type="text/javascript"  src="{{ url_for('static', filename='js/stats.js') }}"></script><!-- contains object for filling out basic statistics and amenities -->
    
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script><!-- contains object for building leaflet map  -->
    
<script type="text/javascript" src="{{ url_for('static', filename='js/map2.js') }}"></script><!-- contains object for building leaflet map  -->
    
<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script><!-- contains object for building bargraphs -->

<script type="text/javascript" src="{{ url_for('static', filename='js/getData.js') }}"></script><!-- contains object for building bargraphs -->
    
    
<!-- The main loop is in this module, it calls methods from the previous three mods -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/geojson.js') }}"></script>

    
</html>