/**rules for standard html elements on the page **/
body {
    margin: 1.5%;/**puts a very simple spacing around the edges of the page. **/
}
h1, h3, h4, footer, p {
    text-align: center;
}
ul {
    list-style-type: none;
}
button {
    margin : 1%;
    text-align:center;
    font-size: 12px;
}
p {
    font-size : 12px;
}
h1 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
h4{
    font-size : 17px;
}
footer {
    font-size : 10px;
}



/*rules for custom defined classes and id that are not modified programmatically*/
#mapid { 
    height: 500px; 
    width: 500px;
    margin : auto;
}
#mapid2 { 
    height: 500px; 
    width: 500px;
    margin : auto;
}
#map2 {
    opacity: 0;
}
#submap{
    background-color: rgba(0,0,0,0.9);
    color: #A9A9A9;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 20px;
    margin-top: 10px;
}
#submap b{
    color:#ffbd00;
}
#submapbutton {
    background: #ffbd00;
    color: black;
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
}
#submapbutton:hover {
    background: #fc7f00;
    color: black;
    text-align: right;
    border: 2px solid #e4ff7a;
    border-radius: 10px;
}
svg {
    margin :auto;
}

.legend {
    background-color : white;
    opacity: 0.65;
    border-radius: 10px;
    padding-bottom : 0.5%;
    padding-top : 0.5%;
    padding-right : 1%;
    padding-left : 1%;
}

.legend-header {
    font-size : 13px;
    margin-bottom: 0.8%;
}

#legend-svg {
    width : 85px;
    height : 80px;
    margin :auto;
}

.leaflet-control-geocoder {
display : inline;
}

.panel {
    border-style: solid;
    border-radius: 25px;
    margin: 1%;
    padding: 1.75%;
}


.graph {
    background-color : white;
}

#loadingGIF{
    width : 40px;
}

#yesButton, #noButton {
    width : 75px;
    margin : auto;
    margin-top : 0.5%;
    margin-bottom : 0.5%;
}



/*Style stuff dealing with the tables for both the basic stats and amenities*/
table {
    border-collapse: collapse;
    margin : auto;
}

table, th, td {
    border: 1px solid black;
    text-transform : capitalize;
    text-align: center;
}

th , td {
    padding-left : 25px;
    padding-right : 25px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-size: 12px;
}

th {
    background-color : rgb(200,200,200);
}
/*table data cell that contains an lengthy explainiation of the stats*/
.Explanation {
    text-align: left;
}


/**All style rules after this point are for classes that will be applied programmatically through javascript **/

/**These classes will be dynamically applied to text in the walkability score selection to properly color code them.
This is an attempt to prevent javascript or d3 from haneling styling directly.
**/
.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}




/*styles of items that will appear when the user asks for more information*/
.hidden {
    display : none;
}

/*id for the modal window that shows up when the user makes a tenitive request for a new location*/
#modal-window {
    position: fixed; /* Stay in place */
    z-index: 10000000; /* Sit on top */
    background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 100px; /* Location of the box */
  }

  /* id for the white box of the modal window */
.modal-content {
    margin: auto;
    background-color: #fefefe;
    width: 80%;
    border: 2px solid #888;
    padding: 2%;
    border-radius: 15px;
  }